<main class="m-4">
    <h3>Список сторінок</h3>
    <p>Тут вам потрібно написати інформацію про ваш проєкт.<br>
    Поки що можна написати будь-який текст</p>
    <div class="row">
        <section class="col-2 mx-2">
            <a href="/summary"><button class="btn m-2 btn-primary">Summary</button></a>
            <a href="/skills"><button class="btn m-2 btn-primary">Skills</button></a>
            <a href="/education"><button class="btn m-2 btn-primary">Education</button></a>
            <a href="/work"><button class="btn m-2 btn-primary">Work</button></a>
            <a href="/person"><button class="btn m-2 btn-primary">Person</button></a>
            <a href="/bio"><button class="btn m-2 btn-primary">Bio</button></a>
            <a href="/program"><button class="btn m-2 btn-primary">Program</button></a>
        </section>
        <section class="col-2 mx-2">
            <a href="/web"><button class="btn m-2 btn-primary">Web</button></a>
            <a href="/js"><button class="btn m-2 btn-primary">Js</button></a>
            <a href="/car"><button class="btn m-2 btn-primary">Car</button></a>
            <a href="/mac"><button class="btn m-2 btn-primary">Mac</button></a>
            <a href="/facebook"><button class="btn m-2 btn-primary">Facebook</button></a>
            <a href="/task21"><button class="btn m-2 btn-primary">Task21</button></a>
            <a href="/task22"><button class="btn m-2 btn-primary">Task22</button></a>
        </section>
        <section class="col-2 mx-2">
            <a href="/task31"><button class="btn m-2 btn-primary">Task31</button></a>
            <a href="/shophome"><button class="btn m-2 btn-primary">Shophome</button></a>
            <a href="/shoporder"><button class="btn m-2 btn-primary">Shoporder</button></a>
            <a href="/shopcart"><button class="btn m-2 btn-primary">Shopcart</button></a>
            <a href="/shopprofile"><button class="btn m-2 btn-primary">Shopprofile</button></a>
            <a href="/shopreview"><button class="btn m-2 btn-primary">Shopreview</button></a>
            <a href="/shopcatalog"><button class="btn m-2 btn-primary">Shopcatalog</button></a>
        </section>

    </div>
   

</main>