<nav >
    <div class="card row">
        <div class="card-body">
            <div class="nav">
                {{#with navigation.links}}
                {{#each []}}
                <div class="nav-item">
                    <a {{#if href}}href={{href}}{{else}}href='Disabled' {{/if}} {{#if href}}class="nav-link"
                        {{else}}class="nav-link disabled text-muted" {{/if}}>
                        <h4>{{text}}</h4>
                    </a>
                </div>
                {{/each}}
                {{/with}}
                <div class="nav-item ms-2 mt-2"><a>
                        <h4>Disabled</h4>
                    </a></div>
            </div>
        </div>
    </div>
</nav>